{
    "openapi": "3.0.0",
    "info": {
        "title": "Meetings",
        "description": "The Zoom Meeting APIs allow developers to interface with Zoom Meetings and Webinars programmatically.",
        "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
        "contact": {
            "name": "Zoom Developers",
            "url": "https://developer.zoom.us/"
        },
        "version": "2"
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "https://swagger.io"
    },
    "servers": [
        {
            "url": "https://api.zoom.us/v2"
        }
    ],
    "paths": {
        "/archive_files": {
            "get": {
                "tags": [
                    "Archiving"
                ],
                "summary": "List archived files",
                "description": "Get an account's archived meeting or webinar files. \n\n Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA or other compliance requirements. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:list_archived_files:admin`,`archiving:read:list_archived_files:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
                "operationId": "listArchivedFiles",
                "parameters": [
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The number of records returned within a single API call",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 300,
                            "type": "integer",
                            "example": 30,
                            "default": 30
                        },
                        "x-ballerina-name": "pageSize"
                    },
                    {
                        "name": "next_page_token",
                        "in": "query",
                        "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                        },
                        "x-ballerina-name": "nextPageToken"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2021-03-11T05:41:36Z"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2021-03-18T05:41:36Z"
                        }
                    },
                    {
                        "name": "query_date_type",
                        "in": "query",
                        "description": "The type of query date.\n* `meeting_start_time` \n* `archive_complete_time` \n\n This value defaults to `meeting_start_time`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "meeting_start_time",
                            "enum": [
                                "meeting_start_time",
                                "archive_complete_time"
                            ],
                            "default": "meeting_start_time"
                        },
                        "x-ballerina-name": "queryDateType"
                    },
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Deprecated. Please use 'group_ids' for querying",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "pvFIYKSDTum9iCDOOtQL4w",
                            "deprecated": true
                        },
                        "x-ballerina-name": "groupId"
                    },
                    {
                        "name": "group_ids",
                        "in": "query",
                        "description": "The group IDs. To get a group ID, use the [List groups](/docs/api/rest/reference/scim-api/methods/#operation/groupSCIM2List) API.\n(The maximum number of supported groups for filtering is 7.)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "CVCF1k8ZR3e52ChmEzlNxA,lwQiDh2kS0WaawetgMjtfw"
                        },
                        "x-ballerina-name": "groupIds"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n \n Archived files returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListArchivedFilesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {accountId} <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:read:admin",
                            "archiving:read:list_archived_files:admin",
                            "archiving:read:list_archived_files:master"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [
                        "Recording:Read"
                    ],
                    "x-macro-scopes": [
                        "recording:read:admin"
                    ],
                    "x-granular-scopes": [
                        "archiving:read:list_archived_files:admin",
                        "archiving:read:list_archived_files:master"
                    ]
                }
            }
        },
        "/archive_files/download_audit": {
            "get": {
                "tags": [
                    "Archiving"
                ],
                "summary": "List archived file download audit logs",
                "description": "Get an account's archived meeting or webinar file download audit logs. The response groups audit records by meeting or webinar instance, archive file, and source IP address.\n\nZoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA or other compliance requirements.\n\n**Prerequisites:**\n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n* A paid account.\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "listArchivedFileDownloadAudits",
                "parameters": [
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The number of records returned within a single API call",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 300,
                            "type": "integer",
                            "example": 30,
                            "default": 30
                        },
                        "x-ballerina-name": "pageSize"
                    },
                    {
                        "name": "next_page_token",
                        "in": "query",
                        "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                        },
                        "x-ballerina-name": "nextPageToken"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-06-17T00:00:00Z"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-06-23T23:59:59Z"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`\n\nArchived file download audit logs returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListArchivedFileDownloadAuditsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `300` <br>\n The next page token is invalid or expired. <br>\n"
                    },
                    "401": {
                        "description": "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n Access token is expired. <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": []
                }
            }
        },
        "/archive_files/statistics": {
            "get": {
                "tags": [
                    "Archiving"
                ],
                "summary": "Get archived file statistics",
                "description": "Get statistics about an account's archived meeting or webinar files. \n\n Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA and other compliance requirements. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:archived_file_statistics:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
                "operationId": "getArchivedFileStatistics",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2021-03-11T05:41:36Z"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2021-03-18T05:41:36Z"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n \n The statistics of Archived files returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetArchivedFileStatisticsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {accountId}. <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:read:admin",
                            "archiving:read:archived_file_statistics:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:read:admin"
                    ],
                    "x-granular-scopes": [
                        "archiving:read:archived_file_statistics:admin"
                    ]
                }
            }
        },
        "/archive_files/{fileId}": {
            "patch": {
                "tags": [
                    "Archiving"
                ],
                "summary": "Update an archived file's auto-delete status",
                "description": "Update an archived file's auto-delete status. \n\n **Prerequisites:** \n* [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) must enable the [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) for your account.\n* Open the disabling auto-delete feature in OP. Contact [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write`,`recording:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:update:archived_file_auto_delete_status`,`archiving:update:archived_file_auto_delete_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "updateArchivedFile",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "Archived file ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "a5983951-044e-473f-9acd-5c398c0a8cce"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateArchivedFileRequest"
                            }
                        }
                    },
                    "description": "Auto-delete setting to apply to the archived file"
                },
                "responses": {
                    "204": {
                        "description": "**HTTP Status Code:** `204` <br>\n auto-delete status updated  \n\n "
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write",
                            "recording:write:admin",
                            "archiving:update:archived_file_auto_delete_status",
                            "archiving:update:archived_file_auto_delete_status:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [
                        "Recording:Edit"
                    ],
                    "x-macro-scopes": [
                        "recording:write",
                        "recording:write:admin"
                    ],
                    "x-granular-scopes": [
                        "archiving:update:archived_file_auto_delete_status",
                        "archiving:update:archived_file_auto_delete_status:admin"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/jointoken/local_archiving": {
            "get": {
                "tags": [
                    "Archiving"
                ],
                "summary": "Get a meeting's archive token for local archiving",
                "description": "Get a meeting's archive token to allow local archiving. The archive token allows a meeting SDK app or bot to get archive permission to access the meeting's raw audio and video media stream in real-time. \n\n**Prerequisites:** \n* A Pro or higher plan for the meeting host. \n* The **Archive meetings and webinars** account setting enabled in the Zoom web portal.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `meeting_token:read:admin:local_archiving`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `meeting:read:local_archiving_token:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "getMeetingLocalArchivingToken",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "The meeting's ID. \n\n When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 85746065
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n \nMeeting local archiving token returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMeetingLocalArchivingTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Invalid meeting ID. <br>\n**Error Code:** `3000` <br>\n Cannot access webinar information. <br>\n**Error Code:** `124` <br>\n This API only supports OAuth2 authorization. <br>\n**Error Code:** `3000` <br>\n Not allowed to start local archiving. To use this feature, enable the \"Archive meetings and webinars\" setting in the \"Settings\" page of the Zoom web portal. <br>\n**Error Code:** `3161` <br>\n Meeting hosting and scheduling capabilities are not allowed for your user account. <br>\n"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `300` <br>\n Meeting ID does not exist. <br>\n**Error Code:** `3001` <br>\n Meeting does not exist: {meetingId} <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "meeting_token:read:admin:local_archiving",
                            "meeting:read:local_archiving_token:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [
                        "User:Read"
                    ],
                    "x-macro-scopes": [
                        "meeting_token:read:admin:local_archiving"
                    ],
                    "x-granular-scopes": [
                        "meeting:read:local_archiving_token:admin"
                    ]
                }
            }
        },
        "/past_meetings/{meetingUUID}/archive_files": {
            "get": {
                "tags": [
                    "Archiving"
                ],
                "summary": "Get a meeting's archived files",
                "description": "Return a specific meeting instance's [archived files](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators).\n\nSee [Archived JSON schemas](/docs/api/references/archived-json-schema/) for in-meeting chat message and subgroup archiving activity JSON schemas.\n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:archived_files:admin`,`archiving:read:archived_files`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "getMeetingArchivedFiles",
                "parameters": [
                    {
                        "name": "meetingUUID",
                        "in": "path",
                        "description": "The meeting's universally unique identifier (UUID). Each meeting instance generates a UUID. After a meeting ends, a new UUID is generated for the next meeting instance.\n\nIf the meeting UUID begins with a `/` character or contains a `//` character, you **must** [double encode](/docs/api/using-zoom-apis/#meeting-id-and-uuid) the meeting UUID when using the meeting UUID for other API calls",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "4444AAAiAAAAAiAiAiiAii=="
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n\n Meeting archived files returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMeetingArchivedFilesResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `3001` <br>\n Meeting {meetingUUId} does not exist. <br> <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:read",
                            "archiving:read:archived_files:admin",
                            "archiving:read:archived_files"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:read"
                    ],
                    "x-granular-scopes": [
                        "archiving:read:archived_files:admin",
                        "archiving:read:archived_files"
                    ]
                }
            },
            "delete": {
                "tags": [
                    "Archiving"
                ],
                "summary": "Delete a meeting's archived files",
                "description": "Delete all of a meeting's archived files. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:delete:archived_files:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "deleteMeetingArchivedFiles",
                "parameters": [
                    {
                        "name": "meetingUUID",
                        "in": "path",
                        "description": "The meeting's universally unique identifier (UUID). Each meeting instance generates a UUID. For example, after a meeting ends, a new UUID is generated for the next meeting instance.\n\nIf the meeting UUID begins with a `/` character or contains a `//` character, you **must** double-encode the meeting UUID when using the meeting UUID for other API calls",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "4444AAAiAAAAAiAiAiiAii=="
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "**HTTP Status Code:** `204`   \n \n Meeting archived file deleted"
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `200` <br>\n Only available for Paid account. <br>\n**Error Code:** `200` <br>\n Not available for this account. <br>\n"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `3001` <br>\n Meeting does not exist: {0} <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write:admin",
                            "archiving:delete:archived_files:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:write:admin"
                    ],
                    "x-granular-scopes": [
                        "archiving:delete:archived_files:admin"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings": {
            "get": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Get meeting recordings",
                "description": "Returns all of a meeting's [recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0062627#h_7420acb5-1897-4061-87b4-5b76e99c03b4). Use the `download_url` property listed in the response to download the recording files.  To access a password-protected cloud recording, send the `download_access_token` or the user's [OAuth access token](/docs/integrations/oauth/) as a Bearer token in the Authorization header. For example: \n\n `curl -H 'Authorization: Bearer <ACCESS_TOKEN>' https://{{base-domain}}/rec/archive/download/xyz` \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read`,`phone_recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:read:list_recording_files:admin`,`cloud_recording:read:list_recording_files`,`cloud_recording:read:list_recording_files:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "getMeetingRecordings",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or UUID. If providing the meeting ID instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar's ID or UUID. If providing the webinar ID instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//` (example: `/ajXp112QmuoKj4854875==`), **[double encode](/docs/api/using-zoom-apis/#meeting-id-and-uuid) the UUID** before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    },
                    {
                        "name": "include_fields",
                        "in": "query",
                        "description": "Include fields in the response. Currently, only accepts `download_access_token` to get this token field and value for downloading the meeting's recordings. The `download_access_token` requires **View the recording content** enabled for the role authorizing the account. Use the format `include_fields=download_access_token`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "download_access_token"
                        },
                        "x-ballerina-name": "includeFields"
                    },
                    {
                        "name": "ttl",
                        "in": "query",
                        "description": "The `download_access_token` Time to Live (TTL) value. This parameter is only valid if the `include_fields` query parameter contains the value `download_access_token`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 604800,
                            "minimum": 0,
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n \nRecording object returned. \n\n**Error Code:** `200`   \n \nYou do not have the right permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMeetingRecordingsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1010` <br>\n User not found on this account: {accountId}. <br>\n"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User \"{userId}\" does not exist or does not belong to this account. <br>\n**Error Code:** `3301` <br>\n There is no recording for this meeting. <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:read",
                            "phone_recording:read:admin",
                            "cloud_recording:read:list_recording_files:admin",
                            "cloud_recording:read:list_recording_files",
                            "cloud_recording:read:list_recording_files:master"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:read",
                        "phone_recording:read:admin"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:read:list_recording_files:admin",
                        "cloud_recording:read:list_recording_files",
                        "cloud_recording:read:list_recording_files:master"
                    ]
                }
            },
            "delete": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Delete meeting or webinar recordings",
                "description": "Delete all of a meeting's or webinar's recording files.  \n\n**Prerequisites**\n* Enable Cloud Recording on the user's account. Learn more about [enabling cloud recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0063923) and [managing cloud recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0065362). \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`,`recording:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:delete:meeting_recording`,`cloud_recording:delete:meeting_recording:admin`,`cloud_recording:delete:meeting_recording:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "deleteMeetingRecordings",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//`, like `/ajXp112QmuoKj4854875==`, you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "The recording delete actions.  \n `trash` - Move recording to trash.  \n `delete` - Delete recording permanently",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "delete",
                            "enum": [
                                "trash",
                                "delete"
                            ],
                            "default": "trash"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The recording was successfully deleted"
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1010` <br>\n User does not belong to this account: {accountId}. <br>\n**Error Code:** `3310` <br>\n This recording was selected for a simulive webinar. You cannot delete or trash it. <br>\n"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User {userId} does not exist or does not belong to this account.<br> <br>\n**Error Code:** `3301` <br>\n There is no recording for this meeting. <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write:admin",
                            "recording:write",
                            "cloud_recording:delete:meeting_recording",
                            "cloud_recording:delete:meeting_recording:admin",
                            "cloud_recording:delete:meeting_recording:master"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:write:admin",
                        "recording:write"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:delete:meeting_recording",
                        "cloud_recording:delete:meeting_recording:admin",
                        "cloud_recording:delete:meeting_recording:master"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/analytics_details": {
            "get": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Get a meeting or webinar recording's analytics details",
                "description": "Retrieve a meeting or webinar recording's [analytics details](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163). **Maximum duration:** 1 month.\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:read:recording_analytics_details`,`cloud_recording:read:recording_analytics_details:master`,`cloud_recording:read:recording_analytics_details:admin`",
                "operationId": "getRecordingAnalyticsDetails",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//`, like `/ajXp112QmuoKj4854875==`, you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The number of records returned within a single API call",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 300,
                            "type": "integer",
                            "example": 30,
                            "default": 30
                        },
                        "x-ballerina-name": "pageSize"
                    },
                    {
                        "name": "next_page_token",
                        "in": "query",
                        "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                        },
                        "x-ballerina-name": "nextPageToken"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The start date for the monthly range to query. The maximum range can be a month. If you do not provide this value, this defaults to the current date",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2020-06-30"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The end date for the monthly range to query. The maximum range can be a month",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2020-07-30"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of analytics details: \n* `by_view` &mdash; by_view. \n* `by_download` &mdash; by_download",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "by_view",
                            "enum": [
                                "by_view",
                                "by_download"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n \nAnalytics Detail listed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetRecordingAnalyticsDetailsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1010` <br>\n User not found on this account: {accountId}. <br>\n"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User \"{userId}\" does not exist or does not belong to this account. <br>\n**Error Code:** `3301` <br>\n There is no recording for this meeting. <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "cloud_recording:read:recording_analytics_details",
                            "cloud_recording:read:recording_analytics_details:master",
                            "cloud_recording:read:recording_analytics_details:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-granular-scopes": [
                        "cloud_recording:read:recording_analytics_details",
                        "cloud_recording:read:recording_analytics_details:master",
                        "cloud_recording:read:recording_analytics_details:admin"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/analytics_summary": {
            "get": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Get a meeting or webinar recording's analytics summary",
                "description": "Retrieve meeting recording's [analytics summary](https://support.zoom.us/hc/en-us/articles/205347605-Managing-cloud-recordings#h_0b665029-ce74-4849-9794-d1aa0320d163). **Maximum duration:** 1 month.\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:read:recording_analytics_summary`,`cloud_recording:read:recording_analytics_summary:master`,`cloud_recording:read:recording_analytics_summary:admin`",
                "operationId": "getRecordingAnalyticsSummary",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//`, like `/ajXp112QmuoKj4854875==`, you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The start date for the monthly range to query. The maximum range can be a month. If you do not provide this value, this defaults to the current date",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2020-06-30"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "The end date for the monthly range to query. The maximum range can be a month",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2020-07-30"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n \nAnalytics Summary listed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetRecordingAnalyticsSummaryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1010` <br>\n User not found on this account: {accountId}. <br>\n"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User \"{userId}\" does not exist or does not belong to this account. <br>\n**Error Code:** `3301` <br>\n There is no recording for this meeting. <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "cloud_recording:read:recording_analytics_summary",
                            "cloud_recording:read:recording_analytics_summary:master",
                            "cloud_recording:read:recording_analytics_summary:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-granular-scopes": [
                        "cloud_recording:read:recording_analytics_summary",
                        "cloud_recording:read:recording_analytics_summary:master",
                        "cloud_recording:read:recording_analytics_summary:admin"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/registrants": {
            "get": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "List recording registrants",
                "description": "Get a list of registrants of a past meeting's [on-demand cloud recordings](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-recordings). Users must [register](/api-reference/zoom-api/methods#operation/meetingRecordingRegistrantCreate) to view the recordings. \n\n \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`,`recording:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:read:list_recording_registrants`,`cloud_recording:read:list_recording_registrants:admin`,`cloud_recording:read:list_recording_registrants:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
                "operationId": "listRecordingRegistrants",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "The meeting's ID. \n\n When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 85746065
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Query by the registrant's status. \n* `pending` - The registration is pending. \n* `approved` - The registrant is approved. \n* `denied` - The registration is denied",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "pending",
                            "enum": [
                                "pending",
                                "approved",
                                "denied"
                            ],
                            "default": "approved"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The number of records returned within a single API call",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 300,
                            "type": "integer",
                            "example": 30,
                            "default": 30
                        },
                        "x-ballerina-name": "pageSize"
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "description": "**Deprecated.** We will no longer support this field in a future release. Instead, use the `next_page_token` for pagination",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "example": 1,
                            "default": 1
                        },
                        "x-ballerina-name": "pageNumber"
                    },
                    {
                        "name": "next_page_token",
                        "in": "query",
                        "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                        },
                        "x-ballerina-name": "nextPageToken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`   \n \n Registrants returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListRecordingRegistrantsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:read:admin",
                            "recording:read",
                            "cloud_recording:read:list_recording_registrants",
                            "cloud_recording:read:list_recording_registrants:admin",
                            "cloud_recording:read:list_recording_registrants:master"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:read:admin",
                        "recording:read"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:read:list_recording_registrants",
                        "cloud_recording:read:list_recording_registrants:admin",
                        "cloud_recording:read:list_recording_registrants:master"
                    ]
                }
            },
            "post": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Create a recording registrant",
                "description": "Register a user to gain access to **On-demand cloud recordings** of a previous meeting.\n\nCloud recordings of past Zoom meetings can be made [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings). Users should be [registered](/api-reference/zoom-api/methods#operation/meetingRecordingRegistrantCreate) to view these recordings. \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`,`recording:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:write:recording_registrant`,`cloud_recording:write:recording_registrant:master`,`cloud_recording:write:recording_registrant:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "createRecordingRegistrant",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "The meeting's ID. \n\n When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 85746065
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRecordingRegistrantRequest"
                            }
                        }
                    },
                    "description": "Registrant details for access to the meeting's on-demand cloud recordings"
                },
                "responses": {
                    "201": {
                        "description": "**HTTP Status Code:** `201`   \n \nRegistration submitted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateRecordingRegistrantResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write:admin",
                            "recording:write",
                            "cloud_recording:write:recording_registrant",
                            "cloud_recording:write:recording_registrant:master",
                            "cloud_recording:write:recording_registrant:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:write:admin",
                        "recording:write"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:write:recording_registrant",
                        "cloud_recording:write:recording_registrant:master",
                        "cloud_recording:write:recording_registrant:admin"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/registrants/questions": {
            "get": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Get registration questions",
                "description": "Retrieve a list of questions that are displayed for users to complete when registering to view the recording of a specific meeting.  \n \nFor [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings) meeting recordings, you can include fields with questions that will be shown to registrants when they register to view the recording.\n\nLearn more about [enabling cloud recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0063923) and [managing cloud recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0065362).\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`,`recording:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:read:registration_questions`,`cloud_recording:read:registration_questions:master`,`cloud_recording:read:registration_questions:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "getRecordingRegistrationQuestions",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//`, like `/ajXp112QmuoKj4854875==`, you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`  \n \nRecording registrant question object returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetRecordingRegistrationQuestionsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:read:admin",
                            "recording:read",
                            "cloud_recording:read:registration_questions",
                            "cloud_recording:read:registration_questions:master",
                            "cloud_recording:read:registration_questions:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:read:admin",
                        "recording:read"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:read:registration_questions",
                        "cloud_recording:read:registration_questions:master",
                        "cloud_recording:read:registration_questions:admin"
                    ]
                }
            },
            "patch": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Update registration questions",
                "description": "Update registration questions for users to answer while registering to view a recording.\n\nFor [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings) meeting recordings, you can include fields with questions that will be shown to registrants when they register to view the recording.\n\nLearn more about [enabling cloud recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0063923) and [managing cloud recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0065362).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`,`recording:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:update:registration_questions:admin`,`cloud_recording:update:registration_questions`,`cloud_recording:update:registration_questions:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "updateRecordingRegistrationQuestions",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID,the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//`, like `/ajXp112QmuoKj4854875==`, you must **double encode** the UUID before making an API request. \n\nLearn more about [enabling cloud recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0063923) and [managing cloud recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0065362)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    }
                ],
                "requestBody": {
                    "description": "Recording registrant questions",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRecordingRegistrationQuestionsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "**HTTP Status Code:** `200`  \n \nRecording registrant questions updated"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write:admin",
                            "recording:write",
                            "cloud_recording:update:registration_questions:admin",
                            "cloud_recording:update:registration_questions",
                            "cloud_recording:update:registration_questions:master"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:write:admin",
                        "recording:write"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:update:registration_questions:admin",
                        "cloud_recording:update:registration_questions",
                        "cloud_recording:update:registration_questions:master"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/registrants/status": {
            "put": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Update a registrant's status",
                "description": "Update a registrant's status.\nA registrant can either be approved or denied from viewing the [on-demand](https://support.zoom.us/hc/en-us/articles/360000488283-On-demand-Recordings) recording. \n\nLearn more about [enabling cloud recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0063923) and [managing cloud recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0065362).\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`,`recording:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:update:registrant_status`,`cloud_recording:update:registrant_status:master`,`cloud_recording:update:registrant_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
                "operationId": "updateRecordingRegistrantStatus",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "The meeting's ID. \n\n When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 85746065
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRecordingRegistrantStatusRequest"
                            }
                        }
                    },
                    "description": "Status action and the recording registrants it applies to"
                },
                "responses": {
                    "204": {
                        "description": "**HTTP Status Code:** `204`  \n \nRegistrant status updated"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write:admin",
                            "recording:write",
                            "cloud_recording:update:registrant_status",
                            "cloud_recording:update:registrant_status:master",
                            "cloud_recording:update:registrant_status:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:write:admin",
                        "recording:write"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:update:registrant_status",
                        "cloud_recording:update:registrant_status:master",
                        "cloud_recording:update:registrant_status:admin"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/settings": {
            "get": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Get meeting recording settings",
                "description": "Retrieve settings applied to a meeting's [cloud recording](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording).  \n   \n \nResponse includes recording content access information, which requires the current user to have the `View the recording content` permission to access it.\n\nLearn more about [enabling cloud recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0063923) and [managing cloud recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0065362).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`,`recording:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:read:recording_settings`,`cloud_recording:read:recording_settings:admin`,`cloud_recording:read:recording_settings:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "getRecordingSettings",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "The meeting ID lets you get cloud recording of a meeting or webinar.\n* Meeting - Provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response is for the latest meeting instance. \n\n* Webinar - Provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response is for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//` (example: `/ajXp112QmuoKj4854875==`), you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "**HTTP Status Code:** `200`    Meeting recording settings returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetRecordingSettingsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:read:admin",
                            "recording:read",
                            "cloud_recording:read:recording_settings",
                            "cloud_recording:read:recording_settings:admin",
                            "cloud_recording:read:recording_settings:master"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:read:admin",
                        "recording:read"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:read:recording_settings",
                        "cloud_recording:read:recording_settings:admin",
                        "cloud_recording:read:recording_settings:master"
                    ]
                }
            },
            "patch": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Update meeting recording settings",
                "description": "Update settings applied to a meeting's [cloud recording](https://support.zoom.us/hc/en-us/articles/203741855-Cloud-Recording).\nThe request contains the recording content access information, which requires the current user to have the `view recording content` and `recording editing` permissions to access.\n\nLearn more about [enabling cloud recordings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0063923) and [managing cloud recording settings](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0065362).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`,`recording:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:update:recording_settings`,`cloud_recording:update:recording_settings:master`,`cloud_recording:update:recording_settings:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "updateRecordingSettings",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get cloud recordings of a meeting, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response is for the latest meeting instance. \n\nTo get cloud recordings of a webinar, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response is for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//` (example: &quot;/ajXp112QmuoKj4854875==&quot;), you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRecordingSettingsRequest"
                            }
                        }
                    },
                    "description": "Recording settings to update for the meeting"
                },
                "responses": {
                    "204": {
                        "description": "**HTTP Status Code:** `204`    Meeting recording setting's updated"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write:admin",
                            "recording:write",
                            "cloud_recording:update:recording_settings",
                            "cloud_recording:update:recording_settings:master",
                            "cloud_recording:update:recording_settings:admin"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:write:admin",
                        "recording:write"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:update:recording_settings",
                        "cloud_recording:update:recording_settings:master",
                        "cloud_recording:update:recording_settings:admin"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/{recordingId}": {
            "delete": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Delete a recording file for a meeting or webinar",
                "description": "Delete a specific recording file from a meeting or webinar. Note: To use this API, you must enable the **The host can delete cloud recordings** setting. Find this setting in the **Recording** tab of the **Settings** interface in the [Zoom web portal](https://zoom.us/).\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`,`recording:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:delete:recording_file`,`cloud_recording:delete:recording_file:admin`,`cloud_recording:delete:recording_file:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "deleteRecordingFile",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//`, like `/ajXp112QmuoKj4854875==`, you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    },
                    {
                        "name": "recordingId",
                        "in": "path",
                        "description": "The recording ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "a2f19f96-9294-4f51-8134-6f0eea108eb2"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "description": "The recording delete actions. \n `trash` - Move recording to trash.  \n `delete` - Delete recording permanently",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": "delete",
                            "enum": [
                                "trash",
                                "delete"
                            ],
                            "default": "trash"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The recording file was successfully deleted"
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1010` <br>\n User does not belong to this account: {accountId}.<br> <br>\n**Error Code:** `3303` <br>\n You can not delete an uncompleted meeting. <br>\n**Error Code:** `3310` <br>\n This recording was selected for a simulive webinar. You cannot delete or trash it. <br>\n**Error Code:** `3310` <br>\n Unable to delete this file because this recording is being used for Zoom IQ for Sales. <br>\n"
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User {userId} does not exist or does not belong to this account.<br> <br>\n**Error Code:** `3301` <br>\n There is no recording for this meeting. <br>\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
                    }
                },
                "security": [
                    {
                        "openapi_oauth": [
                            "recording:write:admin",
                            "recording:write",
                            "cloud_recording:delete:recording_file",
                            "cloud_recording:delete:recording_file:admin",
                            "cloud_recording:delete:recording_file:master"
                        ],
                        "openapi_authorization": []
                    }
                ],
                "x-extensions": {
                    "x-permissions": [],
                    "x-macro-scopes": [
                        "recording:write:admin",
                        "recording:write"
                    ],
                    "x-granular-scopes": [
                        "cloud_recording:delete:recording_file",
                        "cloud_recording:delete:recording_file:admin",
                        "cloud_recording:delete:recording_file:master"
                    ]
                }
            }
        },
        "/meetings/{meetingId}/recordings/{recordingId}/status": {
            "put": {
                "tags": [
                    "Cloud Recording"
                ],
                "summary": "Recover a single recording",
                "description": "Recover a single recording file from the meeting.\n \nZoom lets users recover recordings from trash for up to 30 days from the deletion date.\n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write:admin`,`recording:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `cloud_recording:update:recover_single_recording`,`cloud_recording:update:recover_single_recording:master`,`cloud_recording:update:recover_single_recording:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
                "operationId": "recoverRecordingFile",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "description": "To get a meeting's cloud recordings, provide the meeting ID or meeting UUID. If the meeting ID is provided instead of UUID, the response will be for the latest meeting instance. \n\nTo get a webinar's cloud recordings, provide the webinar ID or the webinar UUID. If the webinar ID is provided instead of UUID, the response will be for the latest webinar instance. \n\nIf a UUID starts with `/` or contains `//`, like `/ajXp112QmuoKj4854875==`, you must **double encode** the UUID before making an API request. ",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "atsXxhSEQWit9t+U02HXNQ=="
                        }
                    },
                    {
                        "name": "recordingId",
                        "in": "path",
                        "description": "The recording ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "a2f19f96-9294-4f51-8134-6f0eea108eb2"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
[...]
